.nav{
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    padding: 14px 20px;
    color: red;
    text-align: center;
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: white;
}

.sidebar a {
    padding: 10px 15px;
    font-size: 25px;
    color: white;
}

.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.search input{
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: rgb(238, 237, 237);
    
}

#btnRed{
    background-color: red;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
}

.init{
    text-align: center;
    background-image: url(desktop-background.png);
    background-color: white;
    background-size: 100%;
    padding: 20px;
    height: 700px;
    width: 100%;
}

.init h1{
    font-size: 50px;
    padding-top: 30px;
}

.options{
    text-align: center;
    padding: 15px;
    padding-top: 20px;
}

.options button{
    border: solid 1px;
    border-color: grey;
    border-radius: 25%;
    background-color: white;
    padding: 10px;
}

body{
    background-color: #f7f7f7;
}

.topBtn{
    width: 100%;
    height: 300px;
    padding: 100px 50px;
    text-align: center;
}

#resBtn{
    height: 300px;
    width: 350px;
    margin-right: 50px;
}